.sale_section{
    h1{
        color: #40000A;
        font-size: 57px;
        font-family: Playfair Display;
        font-weight: 700;
        line-height: 64px;
        word-wrap: break-word
    }
}