.product__detail {
  font-family: 'Roboto';
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 12px;
  flex-direction: column;
}

.product__detail__row1_responsive {
  display: flex;
}

.product__image_small {
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: 100%;
  &__size {
    border-radius: 4px;
    cursor: pointer;
    // height: 104px;
    // width: 104px;
    height: 100%;
    width: 100%;
  }
}
.product__detail_col1,
.product__detail_col5 {
  padding: 0;
}

.product__image_big {
  // width: 494px;
  // height: 756px;
  width: 96%;
  height: 100%;
  border-radius: 8px;
  cursor: pointer;
  margin-left: 13px;
}

.product__image_small__size.selected {
  border: 2px solid red;
}

.product__image_small__size:hover {
  opacity: 0.8;
}

.product__detail__col3 {
  display: flex;
  gap: 20px;
  flex-direction: column;
  padding: 24px;
  border-radius: 8px;
  background-color: white;
  height: 100%;
}

.heart_plus {
  color: #ba1a1a;
  cursor: pointer;
}

.product__name__detail {
  margin-bottom: 12px;
  display: flex;
  gap: 12px;
  flex-direction: column;
  &__first {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 24px;
    gap: 15px;
  }

  &__title {
    font-size: 30px;
    margin-bottom: 6px;
    text-align: left;
  }

  &__review {
    // width: 100%;
    gap: 12px;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    &_first {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 2px;
      font-size: 16px;
      gap: 2px;
      color: var(--M3-sys-light-error, #ba1a1a);
    }
  }

  &__price {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background: var(--M3-sys-light-on-primary, #f1efe7);
    gap: 12px;
    height: 60px;
    &_first {
      font-size: 16px;
      text-decoration: line-through;
      font-weight: 500;
    }
    &_second {
      font-size: 36px;
      color: #ba1a1a;
      font-weight: 500;
    }
    &_third {
      font-size: 14px;
      font-weight: 500;
      background: #ba1a1a;
      color: white;
      padding: 0px 6px;
      border-radius: 5px;
      line-height: 20px;
    }
  }
}

.product__name__detail__review_first span {
  font-size: 16px;
}

.product__name__detail__price span {
  padding-right: 5px;
}

.description__product__detail {
  font-size: 20px;
  font-weight: 400;
}
.description__product__detail span {
  // padding-bottom: 14px;
  font-weight: 500;
}
// .description__product__detail li {
//   // padding: 10px 0;
// }

.description__product__detail-title {
  display: flex;
  align-items: center;
  gap: 5px;
  &__icon {
    color: #9c4048;
  }
}

.ship__product__detail {
  display: flex;
  gap: 20px;
  padding: 10px 0;
  font-size: 16px;
  &_title {
    font-weight: 500;
    width: 90px;
  }
  &_description {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    &__icon {
      height: 24px;
      width: 24px;
    }
    &__category {
      display: flex;
      flex-direction: column;
    }
  }
}

.btn_round_32px {
  display: flex;
  padding: 6px 16px;
  justify-content: center;
  align-items: center;
  border-radius: 32px;
  border: 1px solid var(--M3-sys-light-outline, #857373);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  color: var(--M3-sys-light-on-surface-variant, #524343);
}

.btn_round_8px {
  display: flex;
  padding: 6px 16px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid var(--M3-sys-light-outline, #857373);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  color: var(--M3-sys-light-on-surface-variant, #524343);
}

.btn_clickable_lightcolor {
  border: 1px solid #9c4048;
  color: #9c4048 !important;
  background: var(--M3-ref-primary-primary95, #ffedec) !important;
}

.btn_clickable_boldcolor {
  background: var(--M3-sys-light-primary, #785b5b) !important;
  color: var(--M3-sys-light-on-primary, #f1efe7) !important;
}
.btn_clickable_boldcolor.buynow {
  cursor: pointer;
}
.productDetail button:hover {
  cursor: pointer;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2), 0px 1px 3px 1px rgba(0, 0, 0, 0.2);
}

.color__product__detail,
.size__product__detail {
  display: flex;
  font-size: 16px;
  gap: 10px;
  align-items: center;
}

.color__product__detail span,
.size__product__detail span {
  font-weight: 500;
  width: 90px;
}

.quantity__product__detail,
.add__cart__buy__now {
  display: flex;
  gap: 10px;
  font-size: 16px;
  align-items: center;
}

.quantity__product__detail_title {
  font-weight: 500;
}

.add__cart__buy__now {
  padding-top: 30px;
  justify-content: flex-end;
}

.add__cart__buy__now button {
  padding: 10px 20px;
  display: flex;
  font-size: 16px;
  gap: 7px;
}

.product__description {
  display: flex;
  flex-direction: column;
  //   width: 100%;
  border-radius: 8px;
  background: white;
}

.product__description span {
  display: flex;
  height: 64px;
  padding: 0px 12px;
  align-items: center;
  gap: 12px;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  color: #fff;
  background-color: #785b5b;
  border-radius: 8px;
}

.product__description li {
  display: flex;
  gap: 12px;
  padding: 12px 12px 12px 12px;
  font-size: 16px;
  font-weight: 400;
  // list-style-type: none;
}

.product__description__icon {
  background-color: #785b5b;
  color: #fff;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  padding-left: 2px;
}

.prod__img-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
  row-gap: 2rem;
}

.prod__img-item {
  width: 100%;
  // height: 90%;
  aspect-ratio: 1 / 1;
  margin: 0;
  object-fit: cover;
  border-radius: 4px;
  // padding-left: 30px;
  // padding-top: 30px;
}

.product__rating {
  display: flex;
  flex-direction: column;
  //   width: 100%;
  border-radius: 8px;
  background: white;
  &__title {
    display: flex;
    height: 64px;
    padding: 0px 12px;
    align-items: center;
    gap: 12px;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    color: #fff;
    background-color: #785b5b;
    border-radius: 8px;
  }
  &__star {
    display: flex;
    justify-content: space-between;
    // background-color: #e6e1e1;
    &_45 {
      display: flex;
      align-items: center;
      font-size: 24px;
      padding: 0 12px;
      gap: 2px;
      color: #ba1a1a;
    }
    &__filter {
      display: flex;
      &__rank,
      &__sort {
        display: flex;
        align-items: center;
        padding: 10px;
        gap: 10px;
      }
    }
  }
}

.product__rating__star__filter__soft {
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 10px;
}

.product__rating__star__filter__rank button,
.product__rating__star__filter__sort button {
  display: flex;
  gap: 2px;
  font-size: 16px;
}

.product__rating__star_45 span {
  font-size: 32px;
}

.product__rating__star__filter span {
  font-size: 16px;
}

.hr-title {
  border-width: 3px;
  color: rgba(215, 193, 193, 0.6117647059);
  opacity: 1;
  margin-bottom: 16px;
  margin-left: 12px;
  width: 98%;
}

.rating__item {
  display: flex;
  flex-direction: row;
  padding: 24px;
  gap: 10px;
  font-size: 16px;
  &__img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
  }
  &__body {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.rating__item__body .body__info {
  display: flex;
  flex-direction: column;
  &__name {
    font-size: 22px;
    font-weight: 500;
  }
  &__star {
    font-size: 16px;
    color: #ba1a1a;
    display: flex;
    gap: 2px;
  }
  &__date {
    display: flex;
    align-items: center;
    gap: 12px;
    color: #785b5b;
    font-size: 16px;
  }
}

.body__info__date .vertical {
  width: 1px;
  height: 16px;
  background-color: #785b5b;
}

.body__imgs {
  display: flex;
  gap: 10px;
}

.rating__item__body .body__imgs .body__img {
  width: 74px;
  height: 74px;
  border-radius: 12px;
}

.rating__item__body .body__content {
  font-size: 16px;
  color: #785b5b;
}

.rating__item__body .body__react {
  display: flex;
  gap: 20px;
  color: #785b5b;
  &__like,
  &__dislike {
    font-size: 24px;
    display: flex;
    gap: 12px;
    align-items: center;
  }
}

.rating__item__body .body__react span {
  font-size: 14px;
}

.product__suggestion {
  // display: flex;
  // flex-direction: column;
  width: 101.5%;
  border-radius: 8px;
  background: #785b5b;
  &__title {
    display: flex;
    height: 64px;
    padding: 0px 12px;
    align-items: center;
    gap: 12px;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    color: #fff;
    background-color: #785b5b;
    border-radius: 8px;
    justify-content: center;
  }
  // &__items {
  //   display: flex;
  //   width: 100%;
  //   gap: 2px;
  // }
  .slick-slider .slick-list {
    height: 500px;

    .slick-slide {
      margin-right: 0.75rem;
    }

    .slick-slide:last-child {
      margin-right: 0;
    }
  }
  .custom-prev-arrow,
  .custom-next-arrow {
    position: absolute;
    top: 44%;
    transform: translateY(-50%);
    z-index: 1;
    cursor: pointer;
  }

  .custom-prev-arrow {
    left: 10px;
  }

  .custom-next-arrow {
    right: 10px;
  }
}
// .product__suggestion .product_suggestion__items .product_suggestion__item {
//   padding: 0px;
// }

.quantity__product__detail_input {
  display: flex;
  align-items: center;
  padding: 4px 0px;
  justify-content: center;
  width: 105px;
  height: 32px;
  border-radius: 8px;
  border: 1px solid var(--m-3-sys-light-outline, #857373);
  margin-left: 24px;
}

.quantity__product-decrement,
.quantity__product-increment {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  width: 32px;
  height: 32px;
}

#input__increment__decrement {
  border: none;
  text-align: center;
  // margin-left: 9px;
}

#input__increment__decrement input[type='number'] {
  text-align: center;
  border: none;
  width: 40px;
  border-left: none;
  border-right: none;
  // color: var(--m-3-sys-light-outline);
  background: white;
  margin-left: 12px;
}

.dropdown {
  /* min-width: 12rem; */
  position: relative;
  /* margin: 2em; */
}

.dropdown * {
  box-sizing: border-box;
}

.select {
  background: #fff;
  color: var(--md-sys-color-primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  gap: 4px;
}

.select-clicked {
  border: solid 1px var(--md-sys-color-primary);
  min-width: 12rem;
}

.select:hover {
  cursor: pointer;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2), 0px 1px 3px 1px rgba(0, 0, 0, 0.2);
}

.icon-cancel {
  display: none;
  z-index: 1;
}

.caret {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid var(--md-sys-color-primary);
  transition: 0.3s;
}

.caret-rotate {
  transform: rotate(180deg);
}

.menu {
  list-style: none;
  background: #fff;
  border: 1px solid var(--md-sys-color-primary);
  box-shadow: 0 0.5rem 1rem rbga(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  color: var(--md-sys-color-primary);
  position: absolute;
  top: 3em;
  left: 72px;
  min-width: 12rem;
  transform: translateX(-50%);
  opacity: 0;
  display: none;
  transition: 0.2s;
  z-index: 2;
}

.menu li {
  padding: 0 0 0 16px;
  margin: 0.3rem 0;
  cursor: pointer;
  height: 36px;
  line-height: 36px;
}

.menu li:hover {
  background: #c5c5c5;
}

.select__active {
  background: #fff;
}

.select.select__btn {
  width: 12rem;

  & .icon-cancel {
    display: block;
  }

  border: none;
  background-color: var(--md-sys-color-secondary-container);
  padding: 6px 8px 6px 8px;

  & .caret {
    display: none;
  }

  & .icon-check {
    display: block;
  }
}

.menu-open {
  display: block;
  opacity: 1;
}

.select.cancel__select {
  color: var(--md-sys-color-primary);
  border: 1px solid var(--md-sys-color-primary);
  background: #fff;
  padding: 6px 16px;

  & .icon-cancel {
    display: none;
  }

  & .icon-check {
    display: none;
  }

  & .caret {
    display: block;
  }
}

.btn__filter__rank,
.btn__filter__soft {
  width: 120px;
  padding: 15px;
  /* Ẩn dropdown */
  // -webkit-appearance: none;
  // -moz-appearance: none;
  // appearance: none;

  /* Tùy chỉnh kiểu hiển thị */
  background-color: transparent;
  border: none;
  outline: none;
  /* Thêm boder hoặc box-shadow để tạo hiệu ứng hover hoặc focus nếu cần */
  //   padding-right: 0px;
  &:hover {
    cursor: pointer;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2), 0px 1px 3px 1px rgba(0, 0, 0, 0.2);
  }
}

.btn_like_dislike {
  cursor: pointer;
}

.overlay {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background-color: rgba(211, 211, 211, 0.5);
  z-index: 2;
}
.img_small_blur {
  position: relative;
}

.overlay .blur_text_img {
  font-weight: 500;
  font-size: 24px;
  padding-top: 8px;
}

@media only screen and (min-width: 745px) and (max-width: 1023px) {
  .product__image_small {
    height: 100%;
  }
  .product__detail_col1 {
    width: 10%;
    height: 100%;
    float: left;
  }
  .product__detail_col6 {
    width: 90%;
    height: 100%;
    float: left;
  }
  .product__detail_col5 {
    padding-top: 12px;
    width: 100%;
    height: 100%;
  }

  .product__image_small__size {
    border-radius: 4px;
    cursor: pointer;
    height: 72px;
    width: 72px;
  }
  .product__image_big {
    width: 98%;
    // height: 100%;
    height: 492px;
  }
  #input__increment__decrement {
    border: none;
    text-align: center;
    margin-left: 0;
  }
}

@media (min-width: 577px) and (max-width: 790px) {
  .product__detail_col1 {
    width: 10%;
    height: 100%;
    float: left;
  }
  .product__detail_col6 {
    width: 90%;
    height: 100%;
    float: left;
  }
  .product__detail_col5 {
    padding-top: 12px;
    width: 100%;
    height: 100%;
  }

  .product__image_small__size {
    border-radius: 4px;
    cursor: pointer;
    height: 100%;
    width: 100%;
  }
  .product__image_big {
    width: 98%;
    height: 100%;
  }

  .product__rating__star {
    display: flex;
    justify-content: space-between;
    background-color: #e6e1e1;
    flex-direction: column;
  }

  .product__rating__star__filter {
    display: flex;
    flex-direction: column;
  }
  .product__description span,
  .product__rating__title {
    font-size: 26px;
  }
}

@media (max-width: 576px) {
  .product__detail_col1 {
    width: 10%;
  }
  .product__detail_col6 {
    width: 85%;
  }
  .product__detail_col5 {
    width: 100%;
    height: 100%;
    float: left;
  }

  .product__detail_col6 {
    padding: 0;
    margin: 0;
  }

  .product__detail__col3 {
    margin-top: 12px;
  }

  .product__image_big {
    width: 100%;
    margin-left: 12px;
  }
  .product__name__detail__price_second {
    font-size: 20px;
  }

  .product__name__detail__review {
    font-size: 12px;
  }

  .product__rating__star {
    display: flex;
    justify-content: space-between;
    background-color: #e6e1e1;
    flex-direction: column;
  }

  .product__rating__star__filter {
    display: flex;
    flex-direction: column;
  }
  .product__description span,
  .product__rating__title {
    font-size: 24px;
  }
  .product__detail__buttons {
    position: absolute;
    top: 87%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: -moz-fit-content;
    width: 100%;
    display: flex;
    font-size: 35px;
    padding-top: 0px;
    justify-content: space-around;
    color: #ba1a1a;
    &:hover {
      box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2), 0px 1px 3px 1px rgba(0, 0, 0, 0.2);
    }
  }
}

select.btn_round_8px.btn__filter__rank,
select.btn_round_8px.btn__filter__soft {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.custom-select {
  position: relative;
  display: inline-block;
  background-color: white;
  border-radius: 8px;
}
.dropdown-icon {
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
  pointer-events: none; /* Đảm bảo không ảnh hưởng đến việc chọn select */
  margin-right: 10px;
}

/* Ẩn nút mũi tên lên xuống của input số */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; /* Mở khoảng cách giữa nút mũi tên và input */
}
input[type='number'] {
  -moz-appearance: textfield; /* Firefox: hiển thị input như input text bình thường */
}

#input__increment__decrement {
  height: 32px;
  width: 32px;
  border-top: 1px solid var(--m-3-sys-light-outline, #857373);
  border-bottom: 1px solid var(--m-3-sys-light-outline, #857373);
  border-left: none;
  border-right: none;
  text-align: center;
  color: var(--m-3-sys-light-outline);
}

#input__increment__decrement:focus {
  outline: none;
  border-top: 1px solid var(--m-3-sys-light-outline, #857373);
  border-bottom: 1px solid var(--m-3-sys-light-outline, #857373);
  border-left: none;
  border-right: none;
  color: var(--m-3-sys-light-outline);
}
